InfoQuiver/src/schema/iquiver-data.dtd

<!ELEMENT dataset (
    User|
    Client|
    Address|
    UserGroup|
    UserGroupLnk|
    UserGroupClientLnk|
    Transport|
    TransportAttribute|
    ClientTransportLnk|
    Permission|
    ClientPermissionLnk|
    UserGroupPermissionLnk|
    ContentSourceType|
    ContentSource|
    ContentSourceTransportConfig|
    ContentParser|
    ContentType|
    Content|
    ClientContentLnk)*>
<!ATTLIST dataset
    name CDATA #REQUIRED
>

<!ELEMENT User EMPTY>
<!ATTLIST User
    UserId CDATA #REQUIRED
    UserPassword CDATA #IMPLIED
    UserLogin CDATA #REQUIRED
    UserFirstName CDATA #IMPLIED
    UserMidName CDATA #IMPLIED
    UserLastName CDATA #IMPLIED
    AddressId CDATA #REQUIRED
    ClientId CDATA #REQUIRED
>

<!ELEMENT Client EMPTY>
<!ATTLIST Client
    ClientId CDATA #REQUIRED
    ClientName CDATA #IMPLIED
    AddressId CDATA #REQUIRED
>

<!ELEMENT Address EMPTY>
<!ATTLIST Address
    AddressId CDATA #REQUIRED
    AddressName CDATA #IMPLIED
    AddressStreet CDATA #IMPLIED
    AddressZip CDATA #IMPLIED
    AddressPoBox CDATA #IMPLIED
    AddressPoBoxZip CDATA #IMPLIED
    AddressPhone CDATA #IMPLIED
    AddressMobile CDATA #IMPLIED
    AddressEmail CDATA #IMPLIED
    AddressNumber CDATA #IMPLIED
    AddressCountry CDATA #IMPLIED
>

<!ELEMENT UserGroup EMPTY>
<!ATTLIST UserGroup
    UserGroupId CDATA #REQUIRED
    UserGroupName CDATA #IMPLIED
    UserGroupDesc CDATA #IMPLIED
    ClientId CDATA #REQUIRED
>

<!ELEMENT UserGroupLnk EMPTY>
<!ATTLIST UserGroupLnk
    UserGroupId CDATA #REQUIRED
    UserId CDATA #REQUIRED
>

<!ELEMENT UserGroupClientLnk EMPTY>
<!ATTLIST UserGroupClientLnk
    ClientId CDATA #REQUIRED
    UserGroupId CDATA #REQUIRED
>

<!ELEMENT Transport EMPTY>
<!ATTLIST Transport
    TransportId CDATA #REQUIRED
    TransportName CDATA #REQUIRED
    TransportType CDATA #REQUIRED
    TransportDesc CDATA #IMPLIED
    TransportStartTimeout CDATA #IMPLIED
    TransportImplementation CDATA #REQUIRED
    IsAuthentificationRequired CDATA #IMPLIED
>

<!ELEMENT TransportAttribute EMPTY>
<!ATTLIST TransportAttribute
    TransportAttributeId CDATA #REQUIRED
    TransportId CDATA #REQUIRED
    TransportAttributeName CDATA #REQUIRED
    TransportAttributeType CDATA #REQUIRED
    IsPartOfAuthentification CDATA #IMPLIED
    IsMandatory CDATA #IMPLIED
>

<!ELEMENT ClientTransportLnk EMPTY>
<!ATTLIST ClientTransportLnk
    ClientId CDATA #REQUIRED
    TransportId CDATA #REQUIRED
>

<!ELEMENT Permission EMPTY>
<!ATTLIST Permission
    PermissionId CDATA #REQUIRED
    PermissionName CDATA #IMPLIED
    PermissionDesc CDATA #IMPLIED
>

<!ELEMENT ClientPermissionLnk EMPTY>
<!ATTLIST ClientPermissionLnk
    ClientId CDATA #REQUIRED
    PermissionId CDATA #REQUIRED
>

<!ELEMENT UserGroupPermissionLnk EMPTY>
<!ATTLIST UserGroupPermissionLnk
    UserGroupId CDATA #REQUIRED
    PermissionId CDATA #REQUIRED
    IsNegation CDATA #IMPLIED
>

<!ELEMENT ContentSourceType EMPTY>
<!ATTLIST ContentSourceType
    ContentSourceTypeId CDATA #REQUIRED
    ContentSourceTypeName CDATA #IMPLIED
    ContentSourceTypeDesc CDATA #IMPLIED
>

<!ELEMENT ContentSource EMPTY>
<!ATTLIST ContentSource
    ContentSourceId CDATA #REQUIRED
    ContentSourceTypeId CDATA #REQUIRED
    TransportId CDATA #REQUIRED
    ContentSourceName CDATA #IMPLIED
    ContentSourceDesc CDATA #IMPLIED
    IsAuthentificationRequired CDATA #IMPLIED
>

<!ELEMENT ContentSourceTransportConfig EMPTY>
<!ATTLIST ContentSourceTransportConfig
    ContentSourceId CDATA #REQUIRED
    TransportAttributeId CDATA #REQUIRED
    TransportAttributeValue CDATA #IMPLIED
>

<!ELEMENT ContentParser EMPTY>
<!ATTLIST ContentParser
    ContentParserId CDATA #REQUIRED
    ContentParserImplementation CDATA #REQUIRED
    ContentParserName CDATA #IMPLIED
>

<!ELEMENT ContentType EMPTY>
<!ATTLIST ContentType
    ContentTypeId CDATA #REQUIRED
    ContentTypeName CDATA #REQUIRED
    ContentTypeDesc CDATA #IMPLIED
    ContentParserId CDATA #REQUIRED
>

<!ELEMENT Content EMPTY>
<!ATTLIST Content
    ContentId CDATA #REQUIRED
    ContentTypeId CDATA #REQUIRED
    ContentSourceId CDATA #REQUIRED
    Locale CDATA #IMPLIED
    ReceiveDatetime CDATA #IMPLIED
    ContentContent CDATA #IMPLIED
>

<!ELEMENT ClientContentLnk EMPTY>
<!ATTLIST ClientContentLnk
    ClientId CDATA #REQUIRED
    ContentId CDATA #REQUIRED
    RequestDatetime CDATA #IMPLIED
>

